@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sin-wave {
  25% {
    bottom: 2%;
  }
  50% {
    bottom: 0%;
  }
  75% {
    bottom: -2%;
  }
  0%,
  100% {
    bottom: 0%;
  }
}

@keyframes scalediv {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-10vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-left {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-20vw);
  }
}

@keyframes scale-04 {
  100%{
    transform: scale(1.04);
  }
}

.slideOutLeft {
  animation: slide-out-left 1.5s ease-in-out;
}

.video-container {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

body {
  background-color: #282c34;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  position: absolute;
  width: 100vw;
  display: unset;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.BigPage-container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 10vh 90vh;

  color: #abb2bf;
}

.navbar-container {
  grid-column: 1 / span 2;

  height: 10vh;
  width: 100vw;

  position: sticky;

  top: 0;
  left: 0;

  border-bottom: solid #76abae 1px;
  padding-top: 1vh;

  background-color: #282c34;

  z-index: 1;
}

.Name-container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50vh 30vh;
}

.Name-element {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.designation {
  text-align: right;
  text-decoration: overline;

  font-size: 7.5vh;
  animation: slide-in 2s;
}

.text-align {
  text-align: right;
  align-self: flex-end;
}

.name {
  font-size: 10vh;
  animation: slide-in 2s;
}

.BigPage-about-container {
  height: 100vh;
  width: 45vw;

  padding-left: 2vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 37.5vh 40vh;
}

.BigPage-about-element {
  width: 100%;
  height: 100%;

  position: relative;

  animation: fadeIn 2s, sin-wave 4s linear infinite;
}

.BigPage-about {
  top: 0px;
  left: 0px;

  width: 100%;

  font-size: 3.5vh;
  position: absolute;
}

.navbar {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100%;
}

.navbar-elements {
  width: 50vw;
  height: 10vh;
}

.navbar-logo {
  width: 50vw;
  height: 10vh;
}

.navbar-elements button,
.navbar-logo button {
  background-color: transparent;
  color: #abb2bf;
  border: none;

  width: 10vw;
  height: 5vh;

  transition: opacity 0.2s ease-in-out;
}

.navbar-elements button:hover,
.navbar-logo button:hover {
  opacity: 0.5;
}

.navbar-logo button {
  float: right;
}

.AboutSection-container {
  height: 69.6vh;
  width: 90.6vw;

  margin-left: 4.5vw;
  margin-right: 4.5vw;
  margin-top: 4.5vh;
  margin-bottom: 4.5vh;

  padding: 25px;

  display: grid;
  grid-template-columns: 0.33fr 0.66fr;
  grid-template-rows: 100%;

  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  color: #abb2bf;
}

.AboutSection-container:hover {
  transform: scale(1.05);
  background-color: #31363f;
}

.AboutSection-container div.AboutSection-details {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh 5vh 48.6vh;
  gap: 4vh;
}

.AboutSection-details h3 {
  font-size: 9.5vh;
}

.AboutSection-details h4 {
  font-size: 4.125vh;
}

.AboutSection-details p {
  font-size: 3vh;
}

.Projects-container {
  color: #abb2bf;

  display: grid;
  grid-template-columns: 35vw 35vw;
  grid-template-rows: 65vh;
  grid-auto-rows: 65vh;

  margin-left: 10vw;
  margin-right: 10vw;

  margin-top: 10vh;

  gap: 10vw;
}

.ProjectCard-container {
  display: grid;
  grid-template-columns: 88% 10%;
  grid-template-rows: 100%;

  gap: 2%;
  transform: scale(1);
  border: none;

  border-radius: 5px;
}

.ProjectCard-details {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 30% 56%;
  gap: 2%;

  justify-content: center;
  align-items: center;

  padding: 2%;
}

.ProjectCard-details p {
  vertical-align: middle;
  text-align: center;
}

.dropdown-list {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-5vw);
  transition: visibility, opacity, transform, background-color 0.5s;
  height: 100%;

  border-radius: 15px;
  padding-top: 1vh;
}

.dependency-dropright {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
}

.dependency-dropright span:hover ~ .dropdown-list,
.dependency-dropright .dropdown-list:hover {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  background-color: #31363f;
}

.dependency-dropright span:hover {
  transform: scale(1.05);
}

.dependency-dropright span {
  transition: transform 0.5s;
}

.ProjectCard-container button {
  background: transparent;
  border: none;
  border-radius: 5px;
}

.ProjectCard-container button:hover {
  background-color: #31363f;
}

.ProjectCard-container:has(button:nth-of-type(1):hover) {
  transform: scale(1.05);
  border: solid #abb2bf 1px;
}

.Projects-container div {
  transition-property: all;
  transition-duration: 0.5s;

  height: 100%;
}
