@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sin-wave {
  25% {
    bottom: 2%;
  }
  50% {
    bottom: 0%;
  }
  75% {
    bottom: -2%;
  }
  0%,
  100% {
    bottom: 0%;
  }
}

@keyframes scalediv {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-10vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-left {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-20vw);
  }
}

@keyframes rotate-out {
  0% {
    opacity: 1;
    transform: rotateX("0deg");
  }
  99% {
    opacity: 0.7;
  }
  100% {
    transform: rotateX("180deg");
  }
}

#Hero {
  transition: all 1.5s ease-in-out;
}

.rotateAnimation {
  animation: rotate-out 1s ease-in-out;
}

.slideOutLeft {
  animation: slide-out-left 1.5s ease-in-out;
}

.video-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;

  height: 120vh;
  /* width: 100vw; */
}

video {
  /* width: 100%; */
  height: 100%;
}

body {
  background-color: #282c34;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  position: absolute;
  width: 100vw;
  display: unset;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#About {
  /* position: absolute; */
  transition: all 1.5s ease-in-out;
}

#Projects {
  /* position: absolute; */
  transition: all 1.5s ease-in-out;
}
